@import "tailwindcss";


.btn {
  @apply inline-block px-4 py-2 bg-linear-to-r from-blue-600 to-cyan-500 text-zinc-200 rounded hover:bg-blue-700 transition;
}
.btn-2 {
  @apply inline-block px-4 py-2 bg-blue-500  text-slate-800 rounded hover:bg-blue-700 transition;
}


@keyframes tech-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-tech-marquee {
  display: inline-block;
  min-width: max-content;
  animation: tech-marquee 28s linear infinite;
  will-change: transform;
}

.animate-tech-marquee:hover {
  animation-play-state: paused;
}